{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class=row>
            {% for i in movie_list %}
<div class="col-md-3">
<div class="card" style="margin-right:10px; margin-top:50px;">
  <img src="{{i.img.url}}"  alt="Card image cap"  width="245px;" height="220px;">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <a href="{%  url 'movieapp:details' i.id %}" class="btn btn-primary">VIEW DETAILS</a>
  </div>
</div>
    </div>
    {% endfor %}
</div>
</div>


{% endblock %}